body{
    margin: 0;
    overflow-x: hidden; 
}
.control-boxes{
    display: flex;
    width: auto;
    height: 100vh;
}
.box1 {
  width: 5%;
  height: 100%;
  background-color: blue;
  min-width: 50px;
  z-index: 2;
  box-shadow: 2px 0px 5px grey;
}

.box2 {
  width: 20%;
  min-width: 200px;
  height: 100%;
  background-color: rgb(71, 134, 124);
    width: 20%;
    min-width: 200px;
    height: 100%;
    background-color: #2561c4;
    z-index: 1;
    box-shadow: 2px 0px 5px 2px grey;
    /* padding-bottom: 50px; */
    /* overflow:scroll; */
    box-sizing: border-box;
}
#height-notes{
    /* max-height: inherit;
    box-sizing: inherit; */
    overflow: scroll;
    box-sizing: border-box;
    
    /* margin-top: 20px; */
    /* border: 1px solid rgb(255, 255, 255); */
    background-color: #ededed;
    /* max-height: 100%; */
    max-height: 80%;
    
}



::-webkit-scrollbar{
    display: hidden;
    width: 0px;
}
.box3 {
    padding: 5% 10% 3% 10%; 
    width: 75%;
    height: auto;
    overflow: auto;
    background-color:#f9f9f9;
}
.ql-toolbar{
    background-color: #f7eb9b;
    max-width: 80%;
    min-width: 300px;
    
}
#editor{
    background-color: #fcf8e0;
    max-height: 90%;
    max-width: 80%;
    min-width: 300px;
}
#notes p{
    margin: 0px;
    font-size: 18px;
    font-family: 'Gentium Book Basic';
}
#notes hr{
    color:gray;
    margin: 0px;
    width: 90%;
    margin: auto;
}
#notes div{
    background-color: white;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    padding-left: 10px;
    padding-top: 10px;
    box-sizing: border-box;
}

#notes div:hover{
    /* transform: scale(1.1); */
}
#notes button{
    margin: 5px 0px 5px;

}
#header{
    color: white;
    text-align: center;
}
/* Styling navbar */
#nav-bar{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    color:white;
    background-color: #1b4c9b;
}
#logo-bg{
    background-color: #14356b;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    height: 70px;
}
#nav-logo{
    font-family: 'Playfair Display';
    font-size: 50px;
    color: white;
    /* transition: transform .25s ease-out; */
    user-select: none;
}
#nav-logo:hover{
    transform: rotate(-10deg);
}
#nav-main{
    display: flex;
    flex-flow: column wrap;
}

#nav-main i{
    padding:20px 0;
    font-size: 25px;
}

.fa-github 
{
    font-size: 28px;
    transition: font-size .5s;
}
.fa-github:hover
{
    font-size: 35px;
}

#nav-footer{
    margin-bottom: 20px;
}
.nav-button {
    background-color: #1b4c9b;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2px;
}
#hamburger-nav{
    display: none;
}
@media screen and (max-width: 900px) {
    #hamburger-nav{
        display: block;
        font-size: 30px;
        margin: 10px;
    }
    .box1{
    display: none;
        
    }
}
