body{
    margin: 0;
    overflow-x: hidden; // hide horizontal
}
.control-boxes{
    display: flex;
    width: auto;
    height: 100vh;
}
.box1 {
  /* position: absolute; */
  width: 5%;
  height: 100%;
  background-color: blue;
  min-width: 50px;
}

.box2 {
  width: 20%;
  min-width: 200px;
  height: 100%;
  background-color: rgb(81, 81, 82)
}

.box3 {
    padding: 5% 10% 3% 10%; 
    width: 75%;
    height: auto;
    background-color: rgb(116, 116, 116);
}
#editor{
    background-color: rgb(0, 138, 0);
    max-height: 90%;
    width: auto;
    min-width: 300px;
}

